<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="csns-application"
         name="CSNS CSS"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.csns.css.product.csns-application"
            name="CSNS-Css">
         <property
               name="windowImages"
               value="icons/css16.png,icons/css32.png,icons/css48.png,icons/css64.png,icons/css128.png">
         </property>
         <property
               name="aboutImage"
               value="icons/aboutSide.png">
         </property>
         <property
               name="aboutText"
               value="Control System Studio (CSS) is a combined&#x0A;effort of several parties, including&#x0A;- SNS (Oak Ridge, TN).&#x0A;- BNL (Brookhaven, NY)&#x0A;- DESY (Hamburg, Germany)&#x0A;- CSNS (Dongguan, China)&#x0A;&#x0A;&#x0A;It provides a collection of control system&#x0A;tools in a common environment, based&#x0A;on Eclipse.">
         </property>
         <property
               name="appName"
               value="CSNS-Css">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="introTitle"
               value="Welcome to Control System Studio for the CSNS!">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/css64.png">
         </property>
         <property
               name="introBrandingImageText"
               value="CSNS-CSS">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFDFA">
         </property>
         <property
               name="startupMessageRect"
               value="20,195,340,20">
         </property>
         <property
               name="startupProgressRect"
               value="20,215,340,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.csstudio.startup.module">
      <startupParameters
            class="org.csstudio.utility.product.StartupParameters">
      </startupParameters>
      <workspace
            class="org.csstudio.utility.product.WorkspacePrompt">
      </workspace>
      <workbench
            class="org.csstudio.utility.product.Workbench">
      </workbench>
      <project
            class="org.csstudio.startup.module.defaults.DefaultProject">
      </project>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.csstudio.product.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.internal.intro.universal.WelcomeCustomizationPreferencePage"
            id="org.csstudio.product.introCustomization"
            name="introCustomizationPreference">
      </page>
   </extension>

</plugin>
